<!DOCTYPE html>
<html lang="en">
<head>

    <title>Facebook-login or sign up </title>
      {% load static %}  <link rel="icon" type="image/x-icon" href={% static "images/fblogo.ico" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    </link>

</head>
<body>
 <div class="header">
      <div class="head1">
         <h2>facebook </h2>
      </div>
      <div class="head2">
         <div class="head2_p1">
            <input type="text" placeholder="Email or phone">
         </div>
         <div class="head2_p2">
            <input type="text" placeholder="Password">
         </div>
         <div class="head2_p3">
            <button id ="btn">Log in</button>
         </div>
         <div class="head2_p4">
            <a href="#">Forgotten account ? </a>
         </div>
      </div>
   </div>
   <div class="background">
      <div class="combined_jay">
         <div class="jay">
            <div class="jay1">
               <h3>Find Your Account</h3>
            </div>
            <div class="jay2">
               <p>Please enter your email address or mobile number to search for your account.</p>
            </div>
            <div class="jay3">
               <input type="text" placeholder="Email address or mobile number">
            </div>
            <div class="jay4">
               <button>Cancel</button>
               <button id ="bb">Search</button>
            </div>
         </div>
      </div>
   </div>
   <div class ="footer1">
      <div class="pagecenter">
         <div class="foot1">
            <ul class="lists">
               <li > English(UK)</li>
               <li> தமிழ்</li>
               <li>తెలుగు
               <li>
               <li> ಕನ್ನಡ
               <li>
               <li>اردو
               <li>
               <li> हिन्दी
               <li>
               <li> മലയാളം
               <li>
               <li>සිංහල
               <li>
               <li> ਪੰਜਾਬੀ
               <li>
               <li> বাংলা
               <li>
               <li> ગુજરાતી
               <li>
                  <button id="icon"><i class="fa fa-plus"></i></button>
            </ul>
         </div>
         <div class="foot2">
            <p>     SignUp Login Messenger FacebookLite Watch Places Games Marketplace FacebookPay Oculus Portal Instagram Bulletin Local Fundraisers Services VotingInformationCentre Groups About  Createad CreatePage Developers Careers Privacy Cookies AdChoices
               Terms Help Contactuploadingandnon-users
            </p>
         </div>
         <div class="foot3">
            <p id="meta"> Meta © 2023</p>
         </div>
      </div>
   </div>
   </div>
</body>
</html>